<div class="container">
  <div class="row mt-5 justify-content-around">

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header user">User:</div>
      <div class="card-body">
        <h5 class="card-title name">Username</h5>
        <p class="card-text">{{user.username}}</p>
        <h5 class="card-title">Email</h5>
        <p class="card-text">{{user.email}}</p>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Header:</div>
      <div class="card-body">
        <h5 class="card-title">Height</h5>
        <p class="card-text">{{user.height}}</p>
        <h5 class="card-title">weight</h5>
        <p class="card-text">{{user.weight}}</p>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Header:</div>
      <div class="card-body">
        <h5 class="card-title">Age:</h5>
        <p class="card-text">{{user.age}}</p>
        <h5 class="card-title">Gender:</h5>
        <p class="card-text">{{user.gender}}</p>
      </div>
    </div>

  </div>
  <div class="row mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Exercise</th>
          <th scope="col">Type</th>
          <th scope="col">Time</th>
          <th scope="col">Reps</th>
          <th scope="col">Sets</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each user.exercises}}
        <tr>
          <th scope="row">1</th>
          <td>{{exerciseName}}</td>
          {{!-- <td><a href="">{{videoLink}}</a></td> --}}
          <td>{{category}}</td>
          {{#each activities}}
          <td>{{ex_Time}}</td>
          <td>{{ex_Reps}}</td>
          <td>{{ex_Sets}}</td>
          <td>{{format_date createdAt}}</td>
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col text-center">
      {{!-- <a href="/workout" class="btn btn-primary" type="submit">Add Workout</a> --}}
      <a href="/workout" id="workout" class="btn btn-warning mr-4">Add Workout</a>
    </div>
  </div>
</div>
